<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="NonWwwRedirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.azuresaturday\.de$" />
                    </conditions>
                    <action type="Redirect" url="https://azuresaturday.de/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>